<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>CA105G5</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/TestDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>PhotoReader</servlet-name>
    <servlet-class>util.PhotoReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoReader</servlet-name>
    <url-pattern>/util/PhotoReader</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PhotoReaderId</servlet-name>
    <servlet-class>util.PhotoReaderId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoReaderId</servlet-name>
    <url-pattern>/util/PhotoReaderId</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerServlet</servlet-name>
    <servlet-class>com.manager.controller.ManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerServlet</servlet-name>
    <url-pattern>/back-end/manager/manager.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemServlet</servlet-name>
    <servlet-class>com.mem.controller.MemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemServlet</servlet-name>
    <url-pattern>/back-end/members/mem.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemServlet2</servlet-name>
    <servlet-class>com.mem.controller.MemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemServlet2</servlet-name>
    <url-pattern>/front-end/members/mem.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemImgServlet</servlet-name>
    <servlet-class>com.mem.controller.MemImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemImgServlet</servlet-name>
    <url-pattern>/back-end/members/memImg.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemImgServlet2</servlet-name>
    <servlet-class>com.mem.controller.MemImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemImgServlet2</servlet-name>
    <url-pattern>/front-end/members/memImg.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PetServlet</servlet-name>
    <servlet-class>com.pet.controller.PetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PetServlet</servlet-name>
    <url-pattern>/front-end/pet/pet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PetImgServlet</servlet-name>
    <servlet-class>com.pet.controller.PetImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PetImgServlet</servlet-name>
    <url-pattern>/front-end/pet/petImg.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VolunteerServlet</servlet-name>
    <servlet-class>com.volunteer.controller.VolunteerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VolunteerServlet</servlet-name>
    <url-pattern>/back-end/volunteer/volunteer.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VolunteerServlet2</servlet-name>
    <servlet-class>com.volunteer.controller.VolunteerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VolunteerServlet2</servlet-name>
    <url-pattern>/front-end/volunteer/volunteer.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VolunteerImgServlet</servlet-name>
    <servlet-class>com.volunteer.controller.VolunteerImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VolunteerImgServlet</servlet-name>
    <url-pattern>/back-end/volunteer/volunteerImg.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RescueServlet</servlet-name>
    <servlet-class>com.rescue.controller.RescueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RescueServlet</servlet-name>
    <url-pattern>/front-end/rescue/rescue.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RescueImgServlet</servlet-name>
    <servlet-class>com.rescue.controller.RescueImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RescueImgServlet</servlet-name>
    <url-pattern>/back-end/rescue/rescueImg.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RescueAjax</servlet-name>
    <servlet-class>com.rescue.controller.RescueAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RescueAjax</servlet-name>
    <url-pattern>/back-end/rescue/RescueAjax.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RescuingAjax</servlet-name>
    <servlet-class>com.rescuing.controller.RescuingAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RescuingAjax</servlet-name>
    <url-pattern>/back-end/rescuing/RescuingAjax.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RescuingServlet</servlet-name>
    <servlet-class>com.rescuing.controller.RescuingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RescuingServlet</servlet-name>
    <url-pattern>/front-end/rescuing/rescuing.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PicReader</servlet-name>
    <servlet-class>util.PicReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PicReader</servlet-name>
    <url-pattern>/util/PicReader</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PicReader2</servlet-name>
    <servlet-class>util.PicReader2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PicReader2</servlet-name>
    <url-pattern>/util/PicReader2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PicReaderId</servlet-name>
    <servlet-class>util.PicReaderId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PicReaderId</servlet-name>
    <url-pattern>/util/PicReaderId</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CKEditor_Servlet</servlet-name>
    <servlet-class>CKEditor_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CKEditor_Servlet</servlet-name>
    <url-pattern>/CKEditor.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProdServlet_test</servlet-name>
    <servlet-class>ProdServlet_test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProdServlet_test</servlet-name>
    <url-pattern>/prod_test.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>missingCaseImgServlet</servlet-name>
    <servlet-class>com.missingCase.controller.missingCaseImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>missingCaseImgServlet</servlet-name>
    <url-pattern>/missingcase/missingcase.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>missingCaseServlet</servlet-name>
    <servlet-class>com.missingCase.controller.missingCaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>missingCaseServlet</servlet-name>
    <url-pattern>/front-end/missingCase/miss.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AndroidMemServlet</servlet-name>
    <servlet-class>com.mem.android.controller.MemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidMemServlet</servlet-name>
    <url-pattern>/mem/MemServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AndroidVolunteerServlet</servlet-name>
    <servlet-class>com.volunteer.android.controller.VolunteerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidVolunteerServlet</servlet-name>
    <url-pattern>/volunteer/VolunteerServlet.do</url-pattern>
  </servlet-mapping>
  <servlet> 
    <servlet-name>AndroidRescueServlet</servlet-name>
    <servlet-class>com.rescue.android.controller.RescueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidRescueServlet</servlet-name>
    <url-pattern>/rescue/RescueServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AndroidRescuingServlet</servlet-name>
    <servlet-class>com.rescuing.android.controller.RescuingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidRescuingServlet</servlet-name>
    <url-pattern>/rescuing/RescuingServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DonateServlet</servlet-name>
    <servlet-class>com.donate.controller.DonateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DonateServlet</servlet-name>
    <url-pattern>/donate/donate.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>missingCaseAjax</servlet-name>
    <servlet-class>com.missingCase.controller.missingCaseAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>missingCaseAjax</servlet-name>
    <url-pattern>/missingCaseAjax.do</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>filters.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/front-end/members/listOneMember.jsp</url-pattern>
    <url-pattern>/front-end/members/listAllRescue.jsp</url-pattern>
    <url-pattern>/front-end/members/listAllAdopt.jsp</url-pattern>
    <url-pattern>/front-end/members/listMyMissingPets.jsp</url-pattern>
    <url-pattern>/front-end/missingCase/addMissing.jsp</url-pattern>
    <url-pattern>/front-end/donate/listAllProdDon.jsp</url-pattern>
    <url-pattern>/front-end/donate/listAllMoneyDon.jsp</url-pattern>
    <url-pattern>/front-end/donate/addProdDon.jsp</url-pattern>
    <url-pattern>/front-end/ord/listAllOrd.jsp</url-pattern>
    <url-pattern>/front-end/ord/listAllOrd_Ship.jsp</url-pattern>
    <url-pattern>/front-end/ord/cart_Receiver.jsp</url-pattern>
    <url-pattern>/front-end/pet/listAllPets.jsp</url-pattern>
    <url-pattern>/front-end/rescue/addRescue.jsp</url-pattern>
    <url-pattern>/front-end/rescue/listMemRescue.jsp</url-pattern>
    <url-pattern>/front-end/rescue/rescueReport.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>ManagerLoginFilter</filter-name>
    <filter-class>filters.ManagerLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ManagerLoginFilter</filter-name>
    <url-pattern>/back-end/manager/back_end_index.jsp</url-pattern>
    <url-pattern>/back-end/Adopt/*</url-pattern>
    <url-pattern>/back-end/missingCase/*</url-pattern>
    <url-pattern>/back-end/product/*</url-pattern>
    <url-pattern>/back-end/rescue/*</url-pattern>
    <url-pattern>/back-end/volunteer/*</url-pattern>
    <url-pattern>/back-end/ord/back_listAllOrd.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
   <filter>
    <filter-name>VolunteerLoginFilter</filter-name>
    <filter-class>filters.VolunteerLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>VolunteerLoginFilter</filter-name>
    <url-pattern>/front-end/volunteer/volunteer_index.jsp</url-pattern>
    <url-pattern>/front-end/volunteer/volunteer_info.jsp</url-pattern>
    <url-pattern>/front-end/volunteer/volunteer_rescue.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <servlet>
    <servlet-name>missingMsgServlet</servlet-name>
    <servlet-class>com.missingMsg.controller.missingMsgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>missingMsgServlet</servlet-name>
    <url-pattern>/front-end/missingMsg/missingMsg.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>reportMissingServlet</servlet-name>
    <servlet-class>com.reportMissing.controller.reportMissingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reportMissingServlet</servlet-name>
    <url-pattern>/front-end/missingCase/reportMissing.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>missingMsgReportServlet</servlet-name>
    <servlet-class>com.missingMsgReport.controller.missingMsgReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>missingMsgReportServlet</servlet-name>
    <url-pattern>/front-end/missingCase/missingMsgReport.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdoptImgServlet</servlet-name>
    <servlet-class>com.Adoption.controller.AdoptImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdoptImgServlet</servlet-name>
    <url-pattern>/front-end/adopt/adoptImg.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdoptionServlet</servlet-name>
    <servlet-class>com.Adoption.controller.AdoptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdoptionServlet</servlet-name>
    <url-pattern>/front-end/adopt/adoptionServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrdItemServlet</servlet-name>
    <servlet-class>com.orditem.controller.OrdItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrdItemServlet</servlet-name>
    <url-pattern>/ordItem/ordItem.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrdServlet</servlet-name>
    <servlet-class>com.ord.controller.OrdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrdServlet</servlet-name>
    <url-pattern>/ord/ord.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProdCartServlet</servlet-name>
    <servlet-class>com.prodtrack.controller.ProdCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProdCartServlet</servlet-name>
    <url-pattern>/prodcart.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProdCartServlet2</servlet-name>
    <servlet-class>com.prodtrack.controller.ProdCartServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProdCartServlet2</servlet-name>
    <url-pattern>/prodcart2.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProdTrackServlet</servlet-name>
    <servlet-class>com.prodtrack.controller.ProdTrackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProdTrackServlet</servlet-name>
    <url-pattern>/prodtrack.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdoptApplyServlet</servlet-name>
    <servlet-class>com.AdoptApply.controller.AdoptApplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdoptApplyServlet</servlet-name>
    <url-pattern>/AdoptApply.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdoptMsgServlet</servlet-name>
    <servlet-class>com.AdoptMsg.controller.AdoptMsgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdoptMsgServlet</servlet-name>
    <url-pattern>/front-end/adopt/adoptMsgServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdoptMsgReportServlet</servlet-name>
    <servlet-class>com.AdoptMsgReport.controller.AdoptMsgReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdoptMsgReportServlet</servlet-name>
    <url-pattern>/front-end/adopt/AdoptMsgReportServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NtfServlet</servlet-name>
    <servlet-class>com.ntf.controller.NtfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NtfServlet</servlet-name>
    <url-pattern>/front-end/ntf/ntf.do</url-pattern>
  </servlet-mapping>
<!--   <listener> -->
<!--     <listener-class>com.rescue.controller.RescueEchoServer</listener-class> -->
<!--   </listener> -->
  <context-param>
    <param-name>org.apache.tomcat.websocket.textBufferSize</param-name>
    <param-value>6144000</param-value>
  </context-param>
</web-app>